{
    "presets": [
        "env",
        "react",
        "stage-3"
    ],
    "env": {
        "production": {
            "plugins": [
                [
                    "transform-remove-console",
                    {
                        "exclude": [
                            "error",
                            "warn"
                        ]
                    }
                ],
                "babel-plugin-styled-components"
            ]
        }
    }
}