<?php
    $config = array(
        'lti_keys'=>array(
            'YOUR_CLIENT_KEY'=>'YOUR_CLIENT_SECRET'
        ),
        'use_db'=>true,
        'db'=>array(
            'dbengine'=>'MySQL',
            'hostname'=>'localhost',
            'username'=>'USERNAME',
            'password'=>'PASSWORD',
            'database'=>'DB',
            'charset'=>'utf8mb4'
        ),
        'jwt_key' => 'JWT_SECRET',
    );
?>
